@inherits ChessGameBase

<ChessBoardComponent 
    _chessboard=_game.ChessBoard.Board 
    SetHighlightedCallback=SetHighlighted 
    RemoveHighlightedCallback="RemoveHighlighted"
    SetSelectedSquareCallback="SetSelectedSquare"
    MovePieceCallback="MovePiece"
    />

@*<button @onclick="MovePiece">Move</button>*@

@code {

}